# Mail Service Kubernetes Configuration
server:
  port: 8083
  servlet:
    context-path: /api/mail-service

spring:
  application:
    name: mail-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: nguyendinhthongdhsg@gmail.com
    password: auxhnuproxxopoug
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  kafka:
    consumer:
      bootstrap-servers: kafka-service:9092
      group-id: mail_group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"
            type:
              mapping: "org.example.bookvexebej2e.models.dto.kafka.MailKafkaDTO:com.bookvexe.mailservice.dto.MailKafkaDTO"

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

  datasource:
    url: jdbc:postgresql://postgres-service:5441/bookvexedb_j2e
    username: postgres
    password: root

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        use_sql_comments: true

mail:
  dry-run: true